services:
  # Keycloak backed by Postgres
  keycloak-db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${KC_DB_NAME}
      POSTGRES_USER: ${KC_DB_USER}
      POSTGRES_PASSWORD: ${KC_DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${KC_DB_USER} -d ${KC_DB_NAME}" ]
      interval: 5s
      timeout: 3s
      retries: 30
    volumes:
      - kc_db_data:/var/lib/postgresql/data
    networks: [ messaging_network ]

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command:
      - start-dev
      - --http-port=8080
      - --hostname-strict=false
      - --proxy-headers=xforwarded
      - --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/${KC_DB_NAME}
      KC_DB_USERNAME: ${KC_DB_USER}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}

      KEYCLOAK_ADMIN: ${KC_ADMIN_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}

      FRONTEND_ORIGIN: http://localhost:${ENVOY_PORT}
      KC_HOSTNAME_URL: http://localhost:${KC_HOST_PORT}
      KC_HOSTNAME_ADMIN_URL: http://localhost:${KC_HOST_PORT}
    depends_on:
      keycloak-db:
        condition: service_healthy
    ports:
      - "${KC_HOST_PORT}:8080"
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    networks: [ messaging_network ]

  # Envoy
  envoy:
    build:
      context: ./envoy
      dockerfile: ./envoy.dockerfile
    depends_on:
      - messaging_app
    ports:
      - "${ENVOY_PORT}:10000"
      - "${ENVOY_ADMIN_PORT}:9901"
    environment:
      # Upstream
      UPSTREAM_HOST: ${UPSTREAM_HOST}
      UPSTREAM_PORT: ${UPSTREAM_PORT}

      # Keycloak JWT verification
      KC_ISSUER: ${KC_ISSUER}
      KC_JWKS_URI: ${KC_JWKS_URI}
      KC_JWKS_HOST: ${KC_JWKS_HOST}
      KC_JWKS_PORT: ${KC_JWKS_PORT}
    volumes:
      - ./envoy/envoy.template.yaml:/etc/envoy/envoy.template.yaml:ro
      - ./envoy/envoy-entrypoint.sh:/entrypoint.sh:ro
    entrypoint: [ "/bin/sh", "/entrypoint.sh" ]
    networks: [ messaging_network ]

  # Citus cluster
  citus_master:
    hostname: citus_master
    image: citusdata/citus:postgres_16
    container_name: citus_master
    ports:
      - "${MASTER_PORT}:5432"
    environment:
      POSTGRES_USER: ${CITUS_USER}
      POSTGRES_PASSWORD: ${CITUS_PASSWORD}
      POSTGRES_DB: ${CITUS_DB}
    volumes:
      - ./db/init-runner:/docker-entrypoint-initdb.d:ro
      - ./db/init-common:/init-common:ro
      - ./db/init-master:/init-master:ro
    depends_on:
      - citus_worker_1
      - citus_worker_2
      - citus_worker_3
    networks: [ messaging_network ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${CITUS_USER} -d ${CITUS_DB} -p 5432" ]
      interval: 2s
      timeout: 3s
      retries: 30

  citus_worker_1:
    hostname: citus_worker_1
    image: citusdata/citus:postgres_16
    container_name: citus_worker_1
    ports:
      - "${WORKER1_PORT}:5432"
    environment:
      POSTGRES_USER: ${CITUS_USER}
      POSTGRES_PASSWORD: ${CITUS_PASSWORD}
      POSTGRES_DB: ${CITUS_DB}
    volumes:
      - ./db/init-runner:/docker-entrypoint-initdb.d:ro
      - ./db/init-common:/init-common:ro
      - ./db/init-master:/init-master:ro
    networks: [ messaging_network ]

  citus_worker_2:
    hostname: citus_worker_2
    image: citusdata/citus:postgres_16
    container_name: citus_worker_2
    ports:
      - "${WORKER2_PORT}:5432"
    environment:
      POSTGRES_USER: ${CITUS_USER}
      POSTGRES_PASSWORD: ${CITUS_PASSWORD}
      POSTGRES_DB: ${CITUS_DB}
    volumes:
      - ./db/init-runner:/docker-entrypoint-initdb.d:ro
      - ./db/init-common:/init-common:ro
      - ./db/init-master:/init-master:ro
    networks: [ messaging_network ]

  citus_worker_3:
    hostname: citus_worker_3
    image: citusdata/citus:postgres_16
    container_name: citus_worker_3
    ports:
      - "${WORKER3_PORT}:5432"
    environment:
      POSTGRES_USER: ${CITUS_USER}
      POSTGRES_PASSWORD: ${CITUS_PASSWORD}
      POSTGRES_DB: ${CITUS_DB}
    volumes:
      - ./db/init-runner:/docker-entrypoint-initdb.d:ro
      - ./db/init-common:/init-common:ro
      - ./db/init-master:/init-master:ro
    networks: [ messaging_network ]

  # Application
  messaging_app:
    image: realtime-messaging:latest
    environment:
      # Micronaut settings
      - MICRONAUT_ENVIRONMENTS=dev
      - MICRONAUT_SERVER_HOST=0.0.0.0
      - MICRONAUT_SERVER_PORT=${UPSTREAM_PORT}

      # DB settings (used in application.yaml)
      - CITUS_USER=${CITUS_USER}
      - CITUS_PASSWORD=${CITUS_PASSWORD}
      - CITUS_DB=${CITUS_DB}
    expose:
      - "${UPSTREAM_PORT}"
    networks: [ messaging_network ]
    depends_on:
      citus_master:
        condition: service_healthy

networks:
  messaging_network:

volumes:
  kc_db_data: