version: "3.8"
services:
  envoy:
    image: envoyproxy/envoy:v1.33-latest
    ports:
      - "3000:8080"
      - "9901:9901"
    volumes:
      - ./envoy.local.yaml:/etc/envoy/envoy.yaml:ro
    depends_on:
      - messaging_app

  messaging_app:
    image: realtime-messaging:latest
    expose:
      - "${MESSAGING_APP_PORT}"
    environment:
      - MICRONAUT_ENVIRONMENTS=dev