services:
  envoy:
    build:
      context: .
      dockerfile: envoy.dockerfile
    depends_on:
      - messaging_app
    ports:
      - "${ENVOY_PORT}:${ENVOY_LISTENER_PORT}"
      - "${ENVOY_ADMIN_PORT}:${ENVOY_ADMIN_LISTENER_PORT}"
    environment:
      MESSAGING_APP_HOST: ${MESSAGING_APP_HOST}
      MESSAGING_APP_PORT: ${MESSAGING_APP_PORT}
      ENVOY_LISTENER_PORT: ${ENVOY_LISTENER_PORT}
      ENVOY_ADMIN_LISTENER_PORT: ${ENVOY_ADMIN_LISTENER_PORT}
    volumes:
      - ./envoy.local.template.yaml:/etc/envoy/envoy.template.yaml:ro
      - ./envoy-entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    networks: [messaging_network]

  messaging_app:
    image: realtime-messaging:latest
    environment:
      - MICRONAUT_ENVIRONMENTS=dev
      - MICRONAUT_SERVER_HOST=0.0.0.0
      - MICRONAUT_SERVER_PORT=${MESSAGING_APP_PORT}
    expose:
      - "${MESSAGING_APP_PORT}"
    networks: [messaging_network]

networks:
  messaging_network:
