services:

  keycloak-db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${KC_DB_NAME}
      POSTGRES_USER: ${KC_DB_USER}
      POSTGRES_PASSWORD: ${KC_DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${KC_DB_USER} -d ${KC_DB_NAME}" ]
      interval: 5s
      timeout: 3s
      retries: 30
    volumes:
      - kc_db_data:/var/lib/postgresql/data
    networks: [ messaging_network ]

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command:
      - start-dev
      - --http-port=8080
      - --hostname-strict=false
      - --proxy-headers=xforwarded
      - --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/${KC_DB_NAME}
      KC_DB_USERNAME: ${KC_DB_USER}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}

      KEYCLOAK_ADMIN: ${KC_ADMIN_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}

      FRONTEND_ORIGIN: http://localhost:${ENVOY_PORT}
      KC_HOSTNAME_URL: http://localhost:${KC_HOST_PORT}
      KC_HOSTNAME_ADMIN_URL: http://localhost:${KC_HOST_PORT}
    depends_on:
      keycloak-db:
        condition: service_healthy
    ports:
      - "${KC_HOST_PORT}:8080"
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    networks: [ messaging_network ]

  envoy:
    build:
      context: .
      dockerfile: envoy.dockerfile
    depends_on:
      - messaging_app
    ports:
      - "${ENVOY_PORT}:10000"
      - "${ENVOY_ADMIN_PORT}:9901"
    environment:
      MESSAGING_APP_HOST: ${MESSAGING_APP_HOST}
      MESSAGING_APP_PORT: ${MESSAGING_APP_PORT}
      KC_HOST_PORT: ${KC_HOST_PORT}
    volumes:
      - ./envoy.local.template.yaml:/etc/envoy/envoy.template.yaml:ro
      - ./envoy-entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    networks: [ messaging_network ]

  messaging_app:
    image: realtime-messaging:latest
    environment:
      - MICRONAUT_ENVIRONMENTS=dev
      - MICRONAUT_SERVER_HOST=0.0.0.0
      - MICRONAUT_SERVER_PORT=${MESSAGING_APP_PORT}
    expose:
      - "${MESSAGING_APP_PORT}"
    networks: [ messaging_network ]

networks:
  messaging_network:

volumes:
  kc_db_data: